 <div class="col-md-8 offset-md-1">
  <h2>商品詳細</h2>

       <p>商品名</p>
       <%= @item.name %>

       <p>商品説明</p>
       <%= @item.detail %>

      <!--<td>ジャンル配置予定</td>-->

       <p>税抜価格</p>
       <%= @item.tax_free %>

       <p>販売ステータス</p>
       <%= @item.is_active %>
