
<%= render 'layouts/user_layout' %>

<div>
    <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧は可能ですが、<br>
    購入には会員登録が必要になります。
    </p>
</div>

<h2>新規商品</h2>
<!--% items.each do |item| %>-->
    <!--%= item.name %>-->
    <!--%= item.price %>-->
<!--% end %>-->

<%= link_to "すべての商品を見る", items_path %>