
  <h2>ジャンル編集</h2>
  <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>

   <div class="form-group">
    <h5>ジャンル名</h5>
     <%= f.text_area :genre_name %>
   </div>

   <div class="form-group">
     <%= f.submit '変更を保存' %>
   </div>

<% end %>