<!--<h1>Public::Items#index</h1>-->
<h4>商品一覧</h4>

<!--ジャンル検索のテンプレートがどこかに入る-->
<tbody>
  <!--商品一覧-->
  <% @items.each do |item| %>
  <!--画像をクリックしたら詳細ページに遷移するようにする-->
    <td>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_item_image(150,150) %><br>
      <% end %>


    </td>
    <td><%= item.name %></td>
    <td><%= (item.tax_free * 1.1).floor %></td>
  <% end %>
</tbody>
<%#= image_tag item.image, size:"200x200" %>

